<form action="/add" method="post">
    <input type="text" name="fio" placeholder="fio" pattern="[A-Za-zА-Яа-яЁё\s]+" required >
    <input type="text" name="number" placeholder="number" pattern="[0-9]{8}" required >
    <input type="submit" id="button" value="post">
</form>